.navBar{
  display: flex;
  column-gap: 3%;
  margin:50px;
  margin-bottom: 5px;
  align-items: center;
}
.catagory{
  display: flex;
  align-items: flex-end;
}
p{
  margin: 0;
}

.siteName{
  font-size: xx-large;
}

.home{
  font-size: x-large;
}
.home:hover{
  cursor: pointer;
}
.shop{
  font-size: x-large;
}
.searchBar{
  width:20%;
  height:30px;
  font-size: large;
}

.aboutContent{
  padding:5% 30% 5%;
  font-size: 50px;
  background-color: rgb(51, 49, 49);
  color:white;
  font-weight: 600;
}

.products{
  display: flex;
  margin: 3%;
  padding: 2%;
  row-gap: 10px;
  column-gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
  background-color:#fafaf9;
}
.product{
  width: 350px;
  background-color:#e2ece9;
  padding: 1% 0;
  border-radius: 10px;
}

.filter:hover{
  cursor: pointer;
}

.filterDown:hover{
  color: aliceblue;
  background-color:gray;
  cursor: pointer;
}

.productImage{
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.productInfo{
  margin-left: 35%;
  display: flex;
  flex-direction: column;
}

.addToCart{
  margin-top: 10px;
  font-size: 20px;
  width: 40px;
  padding: 10px 30px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ee7777;
  border:  2px solid #ccd5ae;
  border-radius: 10px;
}
.closeCart{
  float: right;
}

.cartImg{
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.addToCart:hover{
  background-color: rgb(56, 54, 54);
  color: whitesmoke;
  cursor: pointer;
}
.cart{
  width: 20%;
  border-color: #e6f3f2;
  border-radius: 5px;
  margin-right: 2px;
  padding: 25px;
  background-color: #e6f3f2;
}

/* .catagoryImages{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap:5%;
}  */

@media screen and (max-width:1200px){

  .cart{
    width: 30%;
    margin-right: 2px;
  }

}
@media screen and (max-width:720px){

  .cart{
    width: 40%;
    margin-right: 2px;
  }

}

@media screen and (max-width:400px){

  .siteName{
  display: none;
}
.cart{
  width: 80%;
  margin-right: 2px;
}

.home{
  display: none;
}
.shop{
  font-size: x-large;
}
.productImage{
  width:50%;
  height: 250px;
}
}